<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/style.css" />
	<link rel="stylesheet" href="/decora.css" />
    <title>Manage order</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="teacher.php">Company T^T</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/accountant/warehouse">Warehouse management</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/accountant/orders/view">Retailer's orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/accountant/revenue">View Revenue</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/accountant/logout">Log out</a>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </nav>
	
	<nav class="quangcao">
        <div class="leftMO"> </div>
        <div class="rightMO"> </div>
    </nav>
	
    <div class="container container--margin">
        <div class="col-md-12">
            <!--    Bordered Table  -->
			<h1>Manage Order </h1>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-bordered">
                        <table class="table" id="list">
                            <thead>
                                <tr>
                                    <th>Order id</th>
                                    <th>Order Date</th>
                                    <th>Retailer Name</th>
                                    <th>Cost</th>
                                    <th>Payment status</th>
                                    <th>Delivery status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% orders.reverse() %>
                                    <% for(let i=0;i<orders.length;i++){ %>
                                        <tr>
                                            <td>
                                                <%= orders[i]._id %>
                                            </td>
                                            <td>
                                                <%= orders[i].orderDate.toDateString() %>
                                            </td>
                                            <td>
                                                <%= orders[i].retailer_id.fullname %>
                                            </td>
                                            <td>
                                                <%= orders[i].payment.amount %>
                                            </td>
                                            <td>
                                                <% if(orders[i].payment.status){ %>
                                                    Paid
                                                    <% } else{ %>
                                                        Ongoing
                                                        <% } %>
                                            </td>
                                            <td>
                                                <%= orders[i].delivery.status %>
                                            </td>
                                            <td>
                                                <button class=" btn btn-primary" id="order<%=i%>" value="edit"
                                                    onclick="edit(<%= i %>)"><i class="fa fa-edit "></i>
                                                    Edit</button>
                                            </td>
                                        </tr>
                                        <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/scripts/vieworders.js"></script>
</body>

</html>